.arrayContainer{
    display:flex;
    justify-content: center;
    max-width: 100%;
}
.bar{
    margin-right: 3px;
    background-color: blueviolet;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:1em 0;
    background-color: darkblue ;
}